<div class="login-center">
    <!-- <div class="row">
        <form class="col s12" (submit)="onSubmitCreds()">
          <div class="row">
              <div class="input-field col s12">
                  <input name="username" [(ngModel)]="username"  id="username" type="text" class="validate">
                  <label for="username">Username</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input name="password" [(ngModel)]="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
          </div>
          <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
            </div>
          </div>
          <div class="row">
              <div class="col s12">
                    <a href="#" class="left">Forgot password</a> | <a [routerLink]="['/register']">Register</a>
              </div>
          </div>
        </form>
    </div> -->
    <form (submit)="onSubmitCreds()">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" [(ngModel)]="username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
            </div>
            <div class="form-group">
                    <a href="#" class="float-left">Forgot password</a> | <a [routerLink]="['/register']">Register</a>
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
            </div>
            
            
    </form>
</div>


